<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8"/>
  <title>student - list</title>
  <link rel="stylesheet" href="/resources/style.css" />
</head>

<body>
<!--<th:block th:insert="~{login/loginInfo :: userinfo}" ></th:block>-->
<h1>사용자 리스트</h1>
<p><a href="/user/register" >사용자(등록)</a></p>
<table>
  <caption></caption>
  <thead>
  <tr>
    <th>아이디</th>
    <th>이름</th>
    <th>프로필 이미지</th>
    <th>비밀번호</th>
    <th>cmd</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${userList}" >
    <td th:text="${item.userId}"></td>
    <td th:text="${item.userName}"></td>
    <td> <img th:src= "${item.userImage}"></td>
    <td th:text="${item.userPassword}"></td>
    <td>
      <a th:href="@{/user/view(id=${item.userId})}">조회</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
